
	
#pagemenu {
  position:absolute; 
  top: 30px; 
  left:420px; 
  font-family: 'Trade Winds', cursive;
  color: white;
  font-size: 40px;
}

#outerWrapper {
	margin: 0 auto;
	width: 950px;
}


#header {
		width:950px;
		
	}

#menu {
	width: 160px;
	float:left;
	padding-left: 23px;
	padding-top:25px;
}

#left {
	float:left;
	width: 750px;

}	

a {
	display: block;
	letter-spacing: -.02em;
	text-decoration: none;
	line-height: 2em;
}

#footer {

	font-weight: 3em;
	margin: 0 auto;
}