#outerWrapper {
    border: 6px solid #484848 ;
    border-radius: 15px;
    margin: 0 auto;
    width: 960px;
}

#header {
    background: url('../img/purple2.jpg') no-repeat 0 45%;
}

#header a {
    font-family: 'Trade Winds', cursive; /* Need to include Trade Winds, since it's not a default. */
    color: #fff;
    font-size: 50px;
    font-size: 3.125rem; /* 50px/16px (base font size) */
    padding: .5em 0 .75em .25em;
}

#wrapper {
    background: #ddd;
    border: 6px solid #a1a1a1;
    padding: 1.4375em 0; /* 23px/16px (base font size) */
}

#menu {
<<<<<<< HEAD
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding-top: 1.4375em;
    text-align: center;
    width: 15.823%; /* 150px/948px */
}

nav a {
    line-height: 2em;
    font-family: 'Princess Sofia', cursive; /* Need to include Princess Sofia, since it's not a default. */
}

#left {
    border-left-style: double;
    border-left-width: 5px;
    padding-left: 2em;
    margin-left: 150px;
}

p {
    font-family: 'Milonga', cursive; /* Need to include Milogna, subce it's not a defualt. What about things other than paragraphs? */
 }


a {
    display: block; /* Do you want all anchors to be block? What if they're in the content? */
    letter-spacing: -.02em;
    text-decoration: none;
}

h1 {
    color: #000;
}

#footer {
    background: url('../img/purple2.jpg') 0 55%;
    font-weight: 3em; /* Not a valid value, so not sure what you're meaning. */
    margin: 0 auto;
    height: 100px;
}

footer a {
    color: #fff;
    padding-left: .5em;
    padding-top: 1em;
}